MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
UPSTASH_REDIS_URL=
RESEND_API_KEY=
EMAIL_FROM=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=dev.ayaan.AirWhisperCompanionApp
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
PORT=3000
